budget.suarzac.com {
    reverse_proxy actual-server:5006

    tls {
        dns cloudflare {env.CF_API_TOKEN}
    }

}

www.suarzac.com {
    reverse_proxy actual-server:5006

    tls {
        dns cloudflare {env.CF_API_TOKEN}
    }

}
