budget.suarzac.com {
    reverse_proxy actual-server:5006

    tls {
        dns cloudflare {env.CF_API_TOKEN}
    }

}

rill.suarzac.com {
    reverse_proxy localhost:9009

    tls {
        dns cloudflare {env.CF_API_TOKEN}
    }
}
